{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="/static/css/athena_style.css"> 
{% endblock %}

{% block title %}
Athena
{% endblock %}

{% block body %}
<!-- Головной блок с информацией -->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-center text-uppercase color2 mb-5">Афина Паллада <br> (Παλλὰς Ἀθηνᾶ) </h2>
                <p>Афи́на (др.-греч. Ἀθηνᾶ или Ἀθηναία — Атхэнайа; микен. a-ta-na-po-ti-ni-ja: «Атана-владычица»), также Афина Паллада (Παλλὰς Ἀθηνᾶ) — в древнегреческой мифологии богиня мудрости, военной стратегии и тактики, одна из наиболее почитаемых богинь Древней Греции, включавшаяся в число двенадцати великих олимпийских богов, эпоним города Афины. Кроме того, богиня знаний, искусств и ремёсел; дева-воительница, покровительница городов и государств, наук и мастерства, ума, сноровки, изобретательности.</p>
            </div>
            <div class="col-lg-6 col-sm-6 mb-sm-2 mt-sm-1 text-center">
                <img src="static/img/Athena_Profile.png" alt="Athena_Profile" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- Раздел "Рождение Афины" -->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-5">Рождение Афины</h2>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-lg-8 col-sm-12 ">
                <h5>Как и положено в мифах, рождение богини Афины было необычным. Наиболее распространённая версия рассказана в «Теогонии» Гесиода: царь богов Зевс по совету Урана и Геи проглотил свою первую жену Метиду-Премудрость, когда та забеременела, чтобы предотвратить рождение ею после Афины сына, который свергнул бы Зевса. После этого он породил воительницу Афину-Тритогенею из своей головы.</h5>
                <h5>Поэмы Гомера миф о рождении Афины игнорируют, а последующие авторы дополняют рассказ деталями и локализуют его. Краткие упоминания встречаются в гомеровском гимне к Аполлону Пифийскому, у Ивика и других поэтов, писателей и мифографов. При этом Метиду источники почти не упоминают, а у Эсхила Афина подчёркивает, что родилась без матери.</h5>
                <h5>Эти детали таковы: предсказание Зевсу изрекли мойры либо сама Метида. Проглотив беременную Метиду, Зевс через некоторое время почувствовал страшную головную боль. Чтобы помочь её рождению, Гефест ударил Зевса топором по голове, а Прометей воспринял её из головы Зевса (по поздней версии, она родилась из бороды Зевса). Стесихор впервые упоминает, что Афина явилась из головы Зевса в полном боевом вооружении (паноплии). О доспехах говорится также в XXVIII гомеровском гимне и у орфиков. По Ликофрону, Афина родилась у Зевса на третий день.</h5>
                <h5>Согласно Пиндару, когда родилась Афина, на Родосе пошёл золотой дождь. Кроме того, приводится и другое толкование её рождения: согласно некоему Аристоклу, Афина была скрыта в облаке и появилась из него благодаря удару молнии Зевса, произошло же это на Крите. В этом мифе «отразилось представление о рождении молнии и грома из тяжело нависшей грозовой тучи» .</h5>
                <h5>Места рождения. Относительно её места рождения также существуют разногласия. Эсхил впервые фиксирует рассказ, что Афина родилась у озера Тритонида в Ливии. Геродот отмечает, что авсеи в Ливии считают Афину дочерью Посейдона и богини озера Тритониды. </h5>
            </div>
            <div class="col-lg-3 col-sm-8 mt-sm-5 text-center">
                <img src="static/img/Statue_Athena.jpg" alt="Statue_Athena" class="img-fluid">
            </div>
        </div>

    </div>
</section>
<!-- Раздел "Арахна" -->
<section class="arahna">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color2 mb-5">Арахна</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-12 text-center arahna_img">
                <img src="static/img/Athena_Arahna.jpg" alt="Арахна" class="img-fluid">
            </div>
            <div class="col-xl-9 col-lg-12">
                <h4>Ара́хна, или Арахнея (др.-греч. Ἀράχνη «паук»)</h4>
                <p>Дочь красильщика Идмона из лидийского города Колофон, искусная ткачиха. Называется меонийкой из города Гипепы, либо дочерью Идмона и Гипепы, либо жительницей Вавилона.</p>
                <p>Возгордившись своим мастерством, Арахна заявила, что превзошла в ткачестве саму Афину, считавшуюся покровительницей этого ремесла. Когда Арахна решила вызвать богиню на состязание, та дала ей шанс одуматься. Под видом старухи Афина пришла к мастерице и стала отговаривать её от безрассудного поступка, но Арахна настояла на своём. Состязание состоялось: Афина выткала на полотне сцену своей победы над Посейдоном. Арахна изобразила сцены из похождений Зевса. Афина признала мастерство соперницы, но возмутилась вольнодумством сюжета (в изображениях её было неуважение к богам) и уничтожила творение Арахны. Афина порвала ткань и ударила Арахну в лоб челноком из киторского бука. Несчастная Арахна не перенесла позора; она свила веревку, сделала петлю и повесилась. Афина освободила Арахну из петли и сказала ей:</p>
                <p class="fst-italic">— Живи, непокорная. Но ты будешь вечно висеть и вечно ткать, и будет длиться это наказание и в твоём потомстве.</p>
                <p>Aфина окропила Арахну соком волшебной травы, и тотчас тело её сжалось, густые волосы упали с головы, и обратилась она в паука. С той поры висит паук-Арахна в своей паутине и вечно ткёт её. По другой версии Арахна превращена в паука за связь со своим братом Фалангом, который был превращён в фалангу. По ещё одной версии, сын Арахны изобрёл веретено.</p>
            </div>
        </div>
    </div>
</section>
<!-- Афина и Посейдон -->
<section class="poseidon">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-5">Афина и Божества</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="static/img/poseidon.jpg" alt="Посейдон" class="rounded mx-auto d-block">
                    <h4 class="text-center mb-3 mt-3">Соперничество и оппозиция Посейдона и Афины выражена в мифах довольно чётко</h4>
                    <p> Афина и Посейдон спорили не только за Афины, но и за Трезен в царствование Алфепа, и Зевс приказал им владеть городом сообща, а на его древних монетах изображался трезубец и голова Афины.</p>
                    <p>Афинянин Бут стал жрецом Афины и Посейдона Эрехтея.</p>
                    <p>Еврипид отмечает, что Посейдон, защищавший Трою, побеждён Афиной и покидает Трою (у Гомера, напротив, Посейдон — враг троянцев).</p>
                    <div class="line"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="static/img/aphrodite.jpg" alt="Афродита" class="rounded mx-auto d-block">
                    <h4 class="text-center mb-3 mt-3">Их соперничество известно из «суда Париса».</h4>
                    <p> Согласно «Илиаде», Афина призывает Диомеда на бой с Афродитой (V 131—132), и герой ранит богиню (V 334—343), после чего Афина издевается над Афродитой на Олимпе (V 420—430).</p>
                    <p>Во время «битвы богов» Афина сама избивает Афродиту (XXI 416—433).</p>
                    <p>ЕВ трагедии «Рес» Афина принимает вид Афродиты и обманно воодушевляет Париса (у Гомера боги никогда не принимают облик друг друга).</p>
                    <div class="line"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="static/img/zeus.jpg" alt="Зевс" class="rounded mx-auto d-block">
                    <h4 class="text-center mb-3 mt-3">Афина восседает рядом с Зевсом.</h4>
                    <p>Неоднократно владыка богов посылает её выполнять его поручения, но нередко Афина сама советует Зевсу. Она просит Зевса не губить ахейцев.</p>
                    <p>В «Одиссее» Афина просит Зевса за героя (I 44-93), и Зевс посылает Гермеса к Калипсо, чтобы вернуть Одиссея на родину.</p>
                    <p>Во время похода Ксеркса на Элладу дельфийский оракул предсказал, что Афина не в силах смягчить гнев Зевса.</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Фигурка -->
<section class="figure_athena">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color2 mb-5">Фигурка</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-sm-12">
                <img src="static/img/athena_figure.jpg" alt="фигурка" class="img-fluid mx-auto d-block"> <br>
                <iframe src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=LBbxWgGVJdk.230321&" width="330" height="50" frameborder="0" allowtransparency="true" scrolling="no"></iframe>​
                <p>Размеры: 27 x 15 x 30 см.</p>
                <p>Материалы: полистоун. Отделка: чернение.</p>
                <p>Производство: Veronese.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}